#table1 {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
}

#spacing {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  padding-left: 10px;
}

#paging {
  margin-top: 15px;
  text-align: center;
}

.pageNumber {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.pageNumberHighlighted {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #00a1df;
  color: white;
}

table {
  border-radius: 13px;
  border: 1px solid black;
  border-spacing: 0;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid black;
}

table tr:last-child td:first-child {
    border-bottom: 0px;
}

table tr:last-child td:last-child {
    border-bottom: 0px;
}
