#table1 {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
}

.message {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  padding-left: 10px;
  color: #032A4A;
}

#paging {
  margin-top: 15px;
  text-align: center;
}

#spinner {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNumber {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  color: #032A4A;
}

.pageNumberHighlighted {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #032A4A;
  color: #FFB800;
}

::ng-deep .mat-spinner circle {
  stroke: #032A4A !important;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #FFB800;
  color: #FFB800;
  background-color: #032A4A;
}

table tr:first-child td:first-child {
    border-top: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

table tr:last-child td:last-child {
    border-bottom: 0px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
